<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en_US</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.utilities</string>
	<key>LSMinimumSystemVersion</key>
	<string>${MACOSX_DEPLOYMENT_TARGET}</string>
	<key>LSUIElement</key>
	<true/>
	<key>NSHumanReadableCopyright</key>
	<string>2016 Yusuke Shibata</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>io.fata.shibata.fmwk.updater</key>
	<dict>
		<key>interval</key>
		<integer>15000</integer>
		<key>key</key>
		<string>CFBundleVersion</string>
		<key>plist</key>
		<string>https://github.com/yusukeshibata/cpumeter/blob/master/res/Cpumeter-Info.plist?raw=true</string>
		<key>silent</key>
		<true/>
		<key>url</key>
		<dict>
			<key>zip</key>
			<string>https://github.com/yusukeshibata/cpumeter/blob/master/dist/cpumeter.zip?raw=true</string>
		</dict>
	</dict>
	<key>theme</key>
	<array>
		<dict>
			<key>dark</key>
			<dict>
				<key>BARHEIGHT</key>
				<integer>8</integer>
				<key>BARMARGIN_INDIVIDUAL</key>
				<string>4</string>
				<key>BARWIDTH</key>
				<integer>32</integer>
				<key>BARWIDTH_INDIVIDUAL</key>
				<integer>24</integer>
				<key>BAR_BACKGROUND</key>
				<string>222222</string>
				<key>BAR_HIGH</key>
				<string>FF0000</string>
				<key>BAR_MEDIUM</key>
				<string>FFFF00</string>
				<key>BAR_NORMAL</key>
				<string>00FF00</string>
				<key>BORDERRADIUS</key>
				<integer>2</integer>
				<key>TEXT_HIGH</key>
				<string>FF0000</string>
				<key>TEXT_MEDIUM</key>
				<string>FFFF00</string>
				<key>TEXT_NORMAL</key>
				<string>00FF00</string>
			</dict>
			<key>light</key>
			<dict>
				<key>BARHEIGHT</key>
				<integer>8</integer>
				<key>BARMARGIN_INDIVIDUAL</key>
				<string>4</string>
				<key>BARWIDTH</key>
				<integer>32</integer>
				<key>BARWIDTH_INDIVIDUAL</key>
				<integer>24</integer>
				<key>BAR_BACKGROUND</key>
				<string>222222</string>
				<key>BAR_HIGH</key>
				<string>FF0000</string>
				<key>BAR_MEDIUM</key>
				<string>FFFF00</string>
				<key>BAR_NORMAL</key>
				<string>00FF00</string>
				<key>BORDERRADIUS</key>
				<integer>2</integer>
				<key>TEXT_HIGH</key>
				<string>222222</string>
				<key>TEXT_MEDIUM</key>
				<string>222222</string>
				<key>TEXT_NORMAL</key>
				<string>222222</string>
			</dict>
			<key>name</key>
			<string>Default</string>
		</dict>
		<dict>
			<key>dark</key>
			<dict>
				<key>BARHEIGHT</key>
				<integer>8</integer>
				<key>BARMARGIN_INDIVIDUAL</key>
				<string>4</string>
				<key>BARWIDTH</key>
				<integer>32</integer>
				<key>BARWIDTH_INDIVIDUAL</key>
				<integer>24</integer>
				<key>BAR_BACKGROUND</key>
				<string>222222</string>
				<key>BAR_HIGH</key>
				<string>FFFFFF</string>
				<key>BAR_MEDIUM</key>
				<string>FFFFFF</string>
				<key>BAR_NORMAL</key>
				<string>FFFFFF</string>
				<key>BORDERRADIUS</key>
				<integer>2</integer>
				<key>TEXT_HIGH</key>
				<string>FFFFFF</string>
				<key>TEXT_MEDIUM</key>
				<string>FFFFFF</string>
				<key>TEXT_NORMAL</key>
				<string>FFFFFF</string>
			</dict>
			<key>light</key>
			<dict>
				<key>BARHEIGHT</key>
				<integer>8</integer>
				<key>BARMARGIN_INDIVIDUAL</key>
				<string>4</string>
				<key>BARWIDTH</key>
				<integer>32</integer>
				<key>BARWIDTH_INDIVIDUAL</key>
				<integer>24</integer>
				<key>BAR_BACKGROUND</key>
				<string>DDDDDD</string>
				<key>BAR_HIGH</key>
				<string>222222</string>
				<key>BAR_MEDIUM</key>
				<string>222222</string>
				<key>BAR_NORMAL</key>
				<string>222222</string>
				<key>BORDERRADIUS</key>
				<integer>2</integer>
				<key>TEXT_HIGH</key>
				<string>222222</string>
				<key>TEXT_MEDIUM</key>
				<string>222222</string>
				<key>TEXT_NORMAL</key>
				<string>222222</string>
			</dict>
			<key>name</key>
			<string>B/W</string>
		</dict>
	</array>
</dict>
</plist>
