<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en_US</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.utilities</string>
	<key>LSMinimumSystemVersion</key>
	<string>${MACOSX_DEPLOYMENT_TARGET}</string>
	<key>LSUIElement</key>
	<true/>
	<key>NSHumanReadableCopyright</key>
	<string>2016 Yusuke Shibata</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>io.fata.shibata.fmwk.updater</key>
	<dict>
		<key>interval</key>
		<integer>15000</integer>
		<key>key</key>
		<string>CFBundleVersion</string>
		<key>plist</key>
		<string>https://github.com/yusukeshibata/cpumeter/blob/master/res/Cpumeter-Info.plist?raw=true</string>
		<key>silent</key>
		<true/>
		<key>url</key>
		<dict>
			<key>zip</key>
			<string>https://github.com/yusukeshibata/cpumeter/blob/master/dist/cpumeter.zip?raw=true</string>
		</dict>
	</dict>
	<key>theme</key>
	<array>
		<dict>
			<key>dark</key>
			<dict>
				<key>BAR_WIDTH</key>
				<integer>24</integer>
				<key>BAR_HEIGHT</key>
				<integer>10</integer>
				<key>BAR_COREMARGIN</key>
				<string>4</string>
				<key>BAR_COREWIDTH</key>
				<integer>12</integer>
				<key>BAR_BACKGROUNDCOLOR</key>
				<string>FFFFFF00</string>
				<key>BAR_HIGHCOLOR</key>
				<string>FF0000FF</string>
				<key>BAR_MEDIUMCOLOR</key>
				<string>FF8C00FF</string>
				<key>BAR_NORMALCOLOR</key>
				<string>00FF00FF</string>
				<key>BORDER_COLOR</key>
				<string>FFFFFFFF</string>
				<key>BORDER_RADIUS</key>
				<integer>3</integer>
				<key>BORDER_WIDTH</key>
				<integer>1</integer>
				<key>TEXT_HIGHCOLOR</key>
				<string>FFFFFFFF</string>
				<key>TEXT_MEDIUMCOLOR</key>
				<string>FFFFFFFF</string>
				<key>TEXT_NORMALCOLOR</key>
				<string>FFFFFFFF</string>
			</dict>
			<key>light</key>
			<dict>
				<key>BAR_WIDTH</key>
				<integer>24</integer>
				<key>BAR_HEIGHT</key>
				<integer>10</integer>
				<key>BAR_COREMARGIN</key>
				<string>4</string>
				<key>BAR_COREWIDTH</key>
				<integer>12</integer>
				<key>BAR_BACKGROUNDCOLOR</key>
				<string>00000000</string>
				<key>BAR_HIGHCOLOR</key>
				<string>FF0000FF</string>
				<key>BAR_MEDIUMCOLOR</key>
				<string>FF8C00FF</string>
				<key>BAR_NORMALCOLOR</key>
				<string>00FF00FF</string>
				<key>BORDER_COLOR</key>
				<string>000000FF</string>
				<key>BORDER_RADIUS</key>
				<integer>3</integer>
				<key>BORDER_WIDTH</key>
				<integer>1</integer>
				<key>TEXT_HIGHCOLOR</key>
				<string>000000FF</string>
				<key>TEXT_MEDIUMCOLOR</key>
				<string>000000FF</string>
				<key>TEXT_NORMALCOLOR</key>
				<string>000000FF</string>
			</dict>
			<key>name</key>
			<string>Default</string>
		</dict>
		<dict>
			<key>dark</key>
			<dict>
				<key>BAR_WIDTH</key>
				<integer>24</integer>
				<key>BAR_HEIGHT</key>
				<integer>10</integer>
				<key>BAR_COREMARGIN</key>
				<string>4</string>
				<key>BAR_COREWIDTH</key>
				<integer>12</integer>
				<key>BAR_BACKGROUNDCOLOR</key>
				<string>FFFFFF00</string>
				<key>BAR_HIGHCOLOR</key>
				<string>FFFFFFFF</string>
				<key>BAR_MEDIUMCOLOR</key>
				<string>FFFFFFFF</string>
				<key>BAR_NORMALCOLOR</key>
				<string>FFFFFFFF</string>
				<key>BORDER_COLOR</key>
				<string>FFFFFFFF</string>
				<key>BORDER_RADIUS</key>
				<integer>3</integer>
				<key>BORDER_WIDTH</key>
				<integer>1</integer>
				<key>TEXT_HIGHCOLOR</key>
				<string>FFFFFFFF</string>
				<key>TEXT_MEDIUMCOLOR</key>
				<string>FFFFFFFF</string>
				<key>TEXT_NORMALCOLOR</key>
				<string>FFFFFFFF</string>
			</dict>
			<key>light</key>
			<dict>
				<key>BAR_WIDTH</key>
				<integer>24</integer>
				<key>BAR_HEIGHT</key>
				<integer>10</integer>
				<key>BAR_COREMARGIN</key>
				<string>4</string>
				<key>BAR_COREWIDTH</key>
				<integer>12</integer>
				<key>BAR_BACKGROUNDCOLOR</key>
				<string>00000000</string>
				<key>BAR_HIGHCOLOR</key>
				<string>000000FF</string>
				<key>BAR_MEDIUMCOLOR</key>
				<string>000000FF</string>
				<key>BAR_NORMALCOLOR</key>
				<string>000000FF</string>
				<key>BORDER_COLOR</key>
				<string>000000FF</string>
				<key>BORDER_RADIUS</key>
				<integer>3</integer>
				<key>BORDER_WIDTH</key>
				<integer>1</integer>
				<key>TEXT_HIGHCOLOR</key>
				<string>000000FF</string>
				<key>TEXT_MEDIUMCOLOR</key>
				<string>000000FF</string>
				<key>TEXT_NORMALCOLOR</key>
				<string>000000FF</string>
			</dict>
			<key>name</key>
			<string>B/W</string>
		</dict>
		<dict>
			<key>dark</key>
			<dict>
				<key>BAR_WIDTH</key>
				<integer>24</integer>
				<key>BAR_HEIGHT</key>
				<integer>10</integer>
				<key>BAR_COREMARGIN</key>
				<string>4</string>
				<key>BAR_COREWIDTH</key>
				<integer>15</integer>
				<key>BAR_BACKGROUNDCOLOR</key>
				<string>FFFFFF40</string>
				<key>BAR_HIGHCOLOR</key>
				<string>FF0000FF</string>
				<key>BAR_MEDIUMCOLOR</key>
				<string>FF8C00FF</string>
				<key>BAR_NORMALCOLOR</key>
				<string>00FF00FF</string>
				<key>BORDER_COLOR</key>
				<string>FFFFFFFF</string>
				<key>BORDER_RADIUS</key>
				<integer>3</integer>
				<key>BORDER_WIDTH</key>
				<integer>0</integer>
				<key>TEXT_HIGHCOLOR</key>
				<string>FFFFFFFF</string>
				<key>TEXT_MEDIUMCOLOR</key>
				<string>FFFFFFFF</string>
				<key>TEXT_NORMALCOLOR</key>
				<string>FFFFFFFF</string>
			</dict>
			<key>light</key>
			<dict>
				<key>BAR_WIDTH</key>
				<integer>24</integer>
				<key>BAR_HEIGHT</key>
				<integer>10</integer>
				<key>BAR_COREMARGIN</key>
				<string>4</string>
				<key>BAR_COREWIDTH</key>
				<integer>15</integer>
				<key>BAR_BACKGROUNDCOLOR</key>
				<string>00000040</string>
				<key>BAR_HIGHCOLOR</key>
				<string>000000FF</string>
				<key>BAR_MEDIUMCOLOR</key>
				<string>FF8C00FF</string>
				<key>BAR_NORMALCOLOR</key>
				<string>00FF00FF</string>
				<key>BORDER_COLOR</key>
				<string>000000FF</string>
				<key>BORDER_RADIUS</key>
				<integer>3</integer>
				<key>BORDER_WIDTH</key>
				<integer>0</integer>
				<key>TEXT_HIGHCOLOR</key>
				<string>000000FF</string>
				<key>TEXT_MEDIUMCOLOR</key>
				<string>000000FF</string>
				<key>TEXT_NORMALCOLOR</key>
				<string>000000FF</string>
			</dict>
			<key>name</key>
			<string>Borderless</string>
		</dict>
	</array>
</dict>
</plist>
