<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en_US</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.2.6</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>217</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.utilities</string>
	<key>LSMinimumSystemVersion</key>
	<string>${MACOSX_DEPLOYMENT_TARGET}</string>
	<key>LSUIElement</key>
	<true/>
	<key>NSHumanReadableCopyright</key>
	<string>2016 Yusuke Shibata</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>io.fata.shibata.fmwk.updater</key>
	<dict>
		<key>interval</key>
		<integer>15000</integer>
		<key>key</key>
		<string>CFBundleVersion</string>
		<key>plist</key>
		<string>https://github.com/yusukeshibata/cpumeter/blob/master/res/Cpumeter-Info.plist?raw=true</string>
		<key>silent</key>
		<true/>
		<key>url</key>
		<dict>
			<key>zip</key>
			<string>https://github.com/yusukeshibata/cpumeter/blob/master/dist/cpumeter.zip?raw=true</string>
		</dict>
	</dict>
</dict>
</plist>
